if config.author
    .copyright
        P
            | ©
            != date(Date.now(), 'YYYY') + ' '
            | <a href="/">
            != config.author
.power
    p.
        <a href="https://hexo.io">Hexo</a>,
        <a href="https://github.com/denglj">GitHub</a>,
