section.installtheme
    .row-flex.row-flex-row.limit-width
        .intro
            h3
                | 汝欲学有所成
                | , 何不动手一试!
        .code
            .title [未命名]-VIM
            .shell
                .line
                    span.output # Quick Sort in 3 lines
                .line
                    span.command def qsort(L):
                .line
                    span.command &nbsp;&nbsp;if len(L) <= 1: return L
                .line
                    span.command &nbsp;&nbsp;return qsort([lt for lt in L[1:] if lt < L[0]]) + L[0:1] + qsort([ge for ge in L[1:] if ge >= L[0]])
